name: simple_api_app
description: A new Flutter project.

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
    
  cupertino_icons: ^0.1.3
  http: ^0.12.0+1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

  assets:
  - assets/user.png
  - assets/background.jpg
  - assets/x.png
  - assets/tick.png
  
  uses-material-design: true

